<h1>Productos</h1>

{{#each productos}}
    <div>
        <p>{{this.title}}</p>
        <p>{{this.description}}</p>
        <p>{{this.price}}</p>
        <p>{{this.stock}}</p>
    </div>
{{/each}}

<p> Pagina {{currentPage}} de {{totalPages}} </p>

{{#if hasPrevPage}}
    <a href="productos?page={{prevPage}}"> Anterior </a>
{{/if}}

{{#if hasNextPage}}
    <a href="productos?page={{nextPage}}"> Siguiente </a>
{{/if}}

